* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-image: url('https://static.vecteezy.com/ti/vetor-gratis/p3/3706330-abstrato-digital-onda-linha-fundo-pano-de-fundo-para-apresentacao-tecnologia-grafico-conceito-azul-papel-de-parede-moderno-estilo-ilustracao-para-site-banner-sem-gratis-vetor.jpg');
    color: rgb(255, 255, 255);
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
  }
  .sobre p{
    font-size: 20px;
  }
  .contato a {
    color: rgb(8, 7, 7);
    font-size: 2em;
  }
  .contato .icons {
    text-align: center;
  }
  .icons{
    font-size: 30px;
  }
  .p{
    font-size: 18px;
  }